@import url('https://fonts.cdnfonts.com/css/open-dyslexic');

*{
    font-family: "open-dyslexic";
}

header {
    text-align: center;
    color: white;
    background-color: #183249;
    padding: 2%;
    margin-bottom: 8px;
  }
  
  .form {
    display: flex;
    justify-content: center;
    gap: 2px;
  }
  
  button:active {
    background-color: aquamarine;
    transition: ease 1s;
    transform: scale(1, 1);
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  
  .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    flex: 1;
  }
  
  footer {
    background-color: #183249;
  }